<!--<pre>{{allcloths | json}}</pre>--> <!--interpolation-->

<div class="py-5">
    <div class="container ">
        <div class="row  row-cols-2 row-cols-md-2 row-cols-xl-4 justify-content-center"  >
            <div class="col mb-5 " *ngFor="let cloths of allcloths" (click)="onClick(cloths)" data-bs-toggle="collapse">
                <div class="d-flex">
                    <div class="card h-100" data-bs-toggle="offcanvas" data-bs-target="#offcanvasWithBothOptions" aria-controls="offcanvasWithBothOptions">
                        <!-- Product image-->
                        <img class="card-img-top rounded"  [src]="cloths.image" alt="..." />

                        <div class="offcanvas offcanvas-end" data-bs-scroll="true" tabindex="-1" id="offcanvasWithBothOptions" aria-labelledby="offcanvasWithBothOptionsLabel">
                          <div class="offcanvas-header">
                            <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                          </div>
                          <div class="offcanvas-body">
                            <!--Product Details-->
                            <div *ngIf="pre" >
                              <div class="card mb-3 view-details">
                                  <div class="row g-0">
                                    <div class="col-md-4">
                                      <img [src]="data[1]" class="img-fluid rounded-start" alt="...">
                                    </div>
                                    <div class="col-md-8">
                                      <div class="card-body">
                                        <a href=""><h5 class="card-title">{{data[2]}}</h5></a>
                                        <p class="card-text">{{data[3]}}</p>
                                        <p class="card-text"><small class="text-muted">{{data[5]}}</small></p>
                                        <!-- related imager-->
                                        <a href=""><h4>Related Images</h4></a>
                                        <div class="gallery">
                                          <div class=”gallery” *ngFor="let cloths of allcloths">
                                             <img [src]="cloths.image" class="gallery__img" alt="Image 1">
                                             
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                </div> 
                          <!--End Product Details-->
                          </div>
                        </div>
                    </div>                      
                    </div>
                </div>    
            </div> 
        </div>  
</div>